header{background-color: black;display: flex;width:100%;
    border-radius: 5px;
    align-items: center;justify-content:space-between;position:fixed;
}

.logo{color: rgb(255, 255, 255);text-decoration: none;
    font-size:1.8em;font-weight: 700;padding-right: 600px;}
    .nave a{color: white;text-decoration: none;font-size: 1.1em;
        font-weight: 500;padding-left: 100px;}
        img{margin: 10px;}
        .grid{display: grid;grid-template-columns:8fr 4fr;grid-template-rows:100px 250px 60px 200px 50px 40px 100px;
            background-color: rgb(32, 30, 30);}

            .grid img{height: 625px;width: 600px;border-radius: 20px;grid-area: 2/2/4/-1;margin-right:35px;}


            .grid h1{color: rgb(255, 255, 255);grid-column-start: 1;grid-row: 2/3;margin:20px;
            font-family: 'Times New Roman', Times, serif;}

            .grid h1 hr{
                border: solid #fd810d 2px;}
.grid h2{grid-row:3;grid-column: 1; color: rgba(228, 93, 25, 0.915);margin-left: 250px;font-size: 40px;}
.grid h3{grid-row: 4;grid-column: 1;color: rgb(255, 246, 240);margin-left: 25px;font-family:Verdana, Geneva, 
    Tahoma, sans-serif;font-size: 22px;}
       .grid a{grid-row:5;grid-column:1 ;height: 30px;width:80px;
         background-color: #fd810d;margin-left: 110px;border-radius: 20px;text-align: center;}        

.logo::first-letter{color: #ff5100; font-size: xx-large;
                    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
                    .grid div{grid-row: 6;grid-column: 1;background-color:#eb820a;border-radius: 10px;}

              
                    .skills{grid-template-columns: 100px 100px 100px 100px;grid-template-rows: 100px 100px 100px 100px;
                        background-color:rgb(32, 30, 30); border-radius: 10px;}
                    .skills h4{grid-column:3/-1;grid-row: 1;;color: rgb(255, 132, 0);margin-left: 700px;}
                    .test{display: flex;justify-content: space-around;}
                    .contenar{background-color:rgb(32, 30, 30);}
                    .contenar h1{text-align: center;color: #fd650d;border-top: solid 1px rgb(222, 69, 13);}
                    .card-body{background-color: rgb(189, 196, 196);}
                    .hd{color: white;}
                    .tran{height: 300px;width:600px;background-image:
                        url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcJuQ2ii_mBoCA2ac_nUY3g7JYexcqW7v3O77qv60QMw&s);
                        margin-left: 450px;border-radius: 10px;}
                        .tran:hover{background-image: 
                            url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfjhR-Wixt-Sj5B1-VmS4nBah2a-n_laCQjA&s);
                            border-radius: 10px;}
                            
                            .container-fluid{background-color:rgb(32, 30, 30) ;}